@charset "UTF-8";

/* CSS Document */

/* Reset browser default styles: */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
}
/* ======================================================
   General Rules 
   ====================================================== */
   
Body {
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(211,211,211);
}
.layout {
	width: 90%;
	margin: 30px auto 30px auto;
}

img {
	height: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  width: 99%;
  background-color: rgb(192,192,192);
  overflow: hidden;
  margin: 10px 0px 80px 4px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  padding: 50px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  float: left;
  margin: 10px 0px -30px -80px;
}
.topnav li {
	float: right;
	display: inline-block;
	font-size: 18px;
	margin: 0px 0px 0px -40px;
	font-weight: 600;
}
.topnav ul {
	margin: 90px 0px 0px 0px;
}

/*
======================================================
 Home
 ====================================================== */

.home {
	background-color: rgb(232,232,232);
	margin: 50px 0px 0px 0px;
}

.home h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}
.home p {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 700;
	margin: 70px 0px 0px 90px;
}
.quotes {
	width: 100%;
	float: left;
	margin: 0px 0px 50px -90px;
}
.quotes p {
	font-size: 22px;
	font-weight: 500;
	font-style: italic;
}
.picture1 {
	margin: 50px 100px 0px 190px;
	float: left;
	min-height: 70px;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 15s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

.picture1 h1 {
	width: 100%;
	margin: 50px 0px 80px -20px;
	font-size: 42px;
	font-weight: 800;
	color: black;
	
}

/*
======================================================
 About
 ====================================================== */

.about h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 70px 0px;
	border-bottom: 5px solid;	
}
.selfie {
	margin: 50px 0px 20px 325px;
}

.about p {
	width: 100%;
	font-size: 24px;
	font-weight: 300;
	margin: 90px 0px 75px 0px;
}

/*
======================================================
 contact
 ====================================================== */

.contact h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 35px 0px 50px 0px;
	border-bottom: 5px solid;	
}

.contact p {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0px 40px 0px;
}

.contactinfo p{
	width: 100%;
	float: left;
	font-size: 18px;
	font-weight: 300;
	margin: 0px 0px 0px 0px;
	padding: 10px;
}
.contactinfo a{
	float: left;
	color: black;
	font-size: 18px;
	font-weight: 300;
	margin: 40px 0px 20px 0px;
}
.contactinfo a:hover {
	color: skyblue;
}

/*
======================================================
 portfolio
 ====================================================== */

 /* ======================================================
   First Year
   ====================================================== */

.portfolio h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 90px 0px;
	border-bottom: 5px solid;
}

.portfolio p {
	font-size: 28px;
	font-weight: 300;
	margin: 90px 0px 0px 0px;
}

.year1 h3 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}

.year1 {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.year1,
.year1 > .column {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.year1:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content h4 {
	font-size: 18px;
	font-weight: 600;
}
.content a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content a:hover {
	color: skyblue;
}

.year2 h5 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}

.year2 {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.year2,
.year2 > .column {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.year2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content h6 {
	font-size: 18px;
	font-weight: 600;
}
.content a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content a:hover {
	color: skyblue;
}

.year3 h7 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}

.year3 {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.year3,
.year3 > .column {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.year3:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content h8 {
	font-size: 18px;
	font-weight: 600;
}
.content a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content a:hover {
	color: skyblue;
}

.year4 h9 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}

.year4 {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.year4,
.year4 > .column {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.year4:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content h10 {
	font-size: 18px;
	font-weight: 600;
}
.content a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content a:hover {
	color: skyblue;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/*
======================================================
 2D form
 ====================================================== */
.twoD h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.twoD p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 50px 0px 0px 0px;
}

.work1 {
	width: 100%;
	margin: 20px 0% 0px 0%;
	float: left;
}
/* Add padding BETWEEN each column (if you want) */
.work1,
.work1 > .column10 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column10 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 300px;
}

/* Clear floats after rows */
.work1:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content10 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content10 h3 {
	font-size: 18px;
	font-weight: 600;
}
.content10 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content10 a:hover {
	color: skyblue;
}

.work1-box {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 275px;
}

.work1-box1 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 150px;
}

.work1-box2 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 150px;
}

.work1-box3 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 150px;
}

/*
======================================================
 Digital Media 1
 ====================================================== */

.digitalMedia h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.digitalMedia p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 30px 0px 0px 0px;
}

.work2 {
	width: 100%;
	margin: 40px 0% 0px 0%;
	float: left;
}
/* Add padding BETWEEN each column (if you want) */
.work2,
.work2 > .column8 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column8 {
  float: left;
  width: 46%;
  margin: 30px 0px 20px 300px;
}

/* Clear floats after rows */
.work2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content8 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content8 h3 {
	font-size: 18px;
	font-weight: 600;
}
.content8 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content8 a:hover {
	color: skyblue;
}

.work2-box {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 25px;
}

/*
======================================================
 Design Photogrpahy
 ====================================================== */

.des160 h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.des160 p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work3 {
	width: 50%;
	margin: 20px 0% 0px 0%;
	float: left;
}
/* Add padding BETWEEN each column (if you want) */
.work3,
.work3 > .column11 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column11 {
  float: left;
  width: 92%;
  margin: 30px 0px 20px 300px;
}

/* Clear floats after rows */
.work3:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content11 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content11 h3 {
	font-size: 18px;
	font-weight: 600;
}
.content11 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content11 a:hover {
	color: skyblue;
}

/*
======================================================
 color theory
 ====================================================== */

.color h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.color p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work4 {
	width: 50%;
	margin: 20px 0% 0px 0%;
	float: left;
}
/* Add padding BETWEEN each column (if you want) */
.work4,
.work4 > .column9 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column9 {
  float: left;
  width: 78%;
  margin: 30px 0px 20px 300px;
}

/* Clear floats after rows */
.work4:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content9 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content9 h3 {
	font-size: 18px;
	font-weight: 600;
}
.content9 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content9 a:hover {
	color: skyblue;
}

/*
======================================================
 threeD
 ====================================================== */

.threeD h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.threeD p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work8 {
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.work8,
.work8 > .column5 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column5 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 200px;
}

/* Clear floats after rows */
.work8:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content5 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content5 h3 {
	font-size: 18px;
	font-weight: 600;
}

.content5 p {
	font-size: 14px;
	font-weight: 400;
}
.content5 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content5 a:hover {
	color: skyblue;
}

/* ======================================================
   Second Year
   ====================================================== */

/*
======================================================
 TypoI
 ====================================================== */

.TypoI h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.TypoI p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work5 {
	width: 100%;
	margin: 20px 0% 0px 0%;
	float: left;
}

/* Add padding BETWEEN each column (if you want) */
.work5,
.work5 > .column7 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column7 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 300px;
}

/* Clear floats after rows */
.work5:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content7 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content7 h3 {
	font-size: 18px;
	font-weight: 600;
}
.content7 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content7 a:hover {
	color: skyblue;
}

.work5-box {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 250px;
}

/*
======================================================
 TypoII
 ====================================================== */

.TypoII h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.TypoII p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work6 {
	width: 100%;
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.work6,
.work6 > .column3 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column3 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 200px;
}

/* Clear floats after rows */
.work6:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content3 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content3 h3 {
	font-size: 18px;
	font-weight: 600;
}

.content3 p {
	font-size: 14px;
	font-weight: 400;
}
.content3 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content3 a:hover {
	color: skyblue;
}

.work6-box {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 95px 0px 75px 150px;
}

.work6-box1 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 20px;
}

.work6-box2 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 150px;
}

.work6-box3 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 20px;
}

/*
======================================================
 digitalMediaII
 ====================================================== */

.digitalMediaII h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.digitalMediaII p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work7 {
	width: 50%;
	margin: 20px 0% 0px 0%;
	float: left;
}

/*
======================================================
 digitalMediaIII
 ====================================================== */

.digitalMediaIII h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.digitalMediaIII p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.digitalMediaIII li{
	width: 100%;
	float: left;
	font-size: 16px;
	margin: 30px 0px 0px 0px;
}

.firstWork h3 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}

.firstWork p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}

.firstWork-box {
	float: left;
	display: inline-block;
	margin: 50px 0% 0px 30%;
}
.secondWork h4 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}

.secondWork p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}

.secondWork-box {
	float: left;
	display: inline-block;
	margin: 50px 0% 0px 10%;
}
.thirdWork h5 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}

.thirdWork p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}

.thirdWork-box {
	float: left;
	display: inline-block;
	margin: 50px 0% 0px 10%;
}
.fourWork h6 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}

.fourWork p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}

.fourWork-box {
	float: left;
	display: inline-block;
	margin: 50px 0% 0px 30%;
}
/*
======================================================
 form
 ====================================================== */

.form h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.form p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work8 {
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.work9,
.work9 > .column6 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column6 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 200px;
}

/* Clear floats after rows */
.work9:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content6 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content6 h3 {
	font-size: 18px;
	font-weight: 600;
}

.content6 p {
	font-size: 14px;
	font-weight: 400;
}
.content6 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content6 a:hover {
	color: skyblue;
}

.work9-box {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 95px 0px 75px 150px;
}

.work9-box1 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 20px;
}

.work9-box2 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 150px;
}

.work9-box3 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 20px;
}

.work9-box4 {
	width: 100%;
	float: left;
	/*display: inline-block;*/
	/*display: table;*/
	display: inline-block;
	margin: 75px 0px 75px 150px;
}

/*
======================================================
 coding
 ====================================================== */

.coding h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 90px 0px;
	border-bottom: 5px solid;
}

.coding p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 0px 0px;
}

.row2 {
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.row2,
.row2 > .column2 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 155px;
}

/* Clear floats after rows */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content2 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content2 h3 {
	font-size: 18px;
	font-weight: 600;
}

.content2 p {
	font-size: 14px;
	font-weight: 400;
}
.content2 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content2 a:hover {
	color: skyblue;
}

/* ======================================================
   Third Year
   ====================================================== */

.year3 h7 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}

.year3 p {
	font-size: 32px;
	font-weight: 400;
	color: black;
}

/* ======================================================
   TypoIII
   ====================================================== */

.TypoIII h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.TypoIII p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 20px 0px;
}

.work9 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work9 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work9box {
	float: left;
	display: inline-block;
	margin: 75px 0% 20px 10%;
}
/* ======================================================
   DES319
   ====================================================== */
.TypoIV h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.TypoIV p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 20px 0px;
}

.work10-one h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work10-one p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work10box-one {
	float: left;
	display: inline-block;
	margin: 70px 0% 0px 20%;
}

.work10-two h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work10-two p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work10box-two {
	float: left;
	display: inline-block;
	margin: 70px 0% 0px 20%;
}

.work10-three h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work10-three p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work10box-three {	
	float: left;
	display: inline-block;
	display: table;
	margin: 50px 0px 50px 350px;
}
.work10box-three p {
	width: 75%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 10px 0px 50px -75px;
}

/* ======================================================
   DES350
   ====================================================== */
.DigitalMediaIV h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.DigitalMediaIV p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 20px 0px;
}

.Work11-row {
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.Work11-row,
.Work11-row > .work11-column {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.work11-column {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 155px;
}

/* Clear floats after rows */
.Work11-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.work11-content {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.work11-content h3 {
	font-size: 18px;
	font-weight: 600;
}

.work11-content p {
	font-size: 14px;
	font-weight: 400;
}
.work11-content a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.work11-content a:hover {
	color: skyblue;
}

  /* ======================================================
   DES450
   ====================================================== */
.Creativecoding h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.Creativecoding p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 20px 0px;
}

.work12 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work12 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work12-box {
	float: left;
	display: inline-block;
	margin: 70px 0% 0px 15%;
}
.work12-vid {
	margin: 50px 0% 0px 25%;
}

   /* ======================================================
   ART 150
   ====================================================== */

.NewMedia h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.NewMedia p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 20px 0px;
}

.Work13-row {
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.Work13-row,
.Work13-row > .work13-column {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.work13-column {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 155px;
}

/* Clear floats after rows */
.Work13-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.work13-content {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.work13-content h3 {
	font-size: 18px;
	font-weight: 600;
}

.work13-content p {
	font-size: 14px;
	font-weight: 400;
}
.work13-content a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.work13-content a:hover {
	color: skyblue;
}
.work13-vid {
	margin: 90px 0% 0px 25%;
}

/* ======================================================
	LALS 499
====================================================== */

.LALS491 h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.LALS491 p {
	font-size: 24px;
	font-weight: 300;
	margin: 70px 0px 20px 0px;
}

.work14-box {
	width: 100%;
	float: left;
	display: table;
	margin: 70px 0% 0px 25%;
}
.work14-vid {
	margin: 90px 0% 0px 25%;
}

/* ======================================================
   Fourth Year
   ====================================================== */

.year4 h9 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 40px 0px 70px 0px;
	border-bottom: 5px solid;
}

.year4 p {
	font-size: 32px;
	font-weight: 400;
	color: black;
}

/* ======================================================
	DES 480: Senior Thesis I
====================================================== */

.SeniorThesisI  h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.SeniorThesisI  p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work15 {
	width: 100%;
	margin: 20px 0% 0px 0%;
	float: left;
}

.work15 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work15 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work15-box {
	float: left;
	display: inline-block;
	margin: 70px 0% 0px 0%;
}

.work16 {
	width: 100%;
	margin: 20px 0% 0px 0%;
	float: left;
}

.work16 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work16 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work16-box {
	float: left;
	display: inline-block;
	margin: -175px 0px 0px 0px;
}

.work16-box1 {
	float: left;
	display: inline-block;
	margin: -375px 0px 0px 0px;
}

.work17 {
	width: 100%;
	margin: 20px 0% 0px 0%;
	float: left;
}

.work17 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work17 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}
.work17-box {
	float: left;
	display: inline-block;
	margin: 20px 0px 0px 0px;
}

/* ======================================================
	DES 420:  Mobile App Design
====================================================== */

.MoblieApp  h1 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}
.MoblieApp p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work18 {
	width: 100%;
	margin: 0px 0% 0px 0%;
	float: left;
}

.work18 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work18 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}

.work18-box {
	float: left;
	display: inline-block;
	margin: -225px 0px 0px 125px;
}

.work18-box1 {
	float: left;
	display: inline-block;
	margin: -550px 0px 0px 125px;
}

.work18-box2 {
	float: left;
	display: inline-block;
	margin: -475px 0px 0px 125px;
}

.work18-box3 {
	float: left;
	display: inline-block;
	margin: -245px 0px 0px 125px;
}

.work18-box4 {
	float: left;
	display: inline-block;
	margin: -160px 0px 0px 125px;
}

.work18-box5 {
	float: left;
	display: inline-block;
	margin: -360px 0px 0px 125px;
}

.work18-box6 {
	float: left;
	display: inline-block;
	margin: -155px 0px 0px 125px;
}

.work18-vid {
	float: left;
	display: inline-block;
	margin: 105px 50px 300px 225px;
}

/* ======================================================
	DES 481: Senior Thesis II
====================================================== */

.SeniorThesisII h2 {
	width: 100%;
	float: left;
	font-size: 42px;
	font-weight: 800;
	color: black;
	margin: 30px 0px 50px 0px;
	border-bottom: 5px solid;
}

.SeniorThesisII p{
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 300;
	margin: 40px 0px 60px 0px;
}

.work19 {
	width: 100%;
	margin: 0px 0% 0px 0%;
	float: left;
}

.work19 h2 {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: 600;
	color: black;
	margin: 80px 0px 20px 0px;
	border-bottom: 5px solid;
}
.work19 p {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0px 20px 0px;
}

.work19-vid {
	float: left;
	display: inline-block;
	margin: 80px 50px 220px 250px;
}

.row12 {
  margin: 30px -90px 0px 90px;
}

/* Add padding BETWEEN each column (if you want) */
.row12,
.row12 > .column12 {
 padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column12 {
  float: left;
  width: 50%;
  margin: 30px 0px 20px 155px;
}

/* Clear floats after rows */
.row12:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content12 {
  background-color: rgb(192,192,192);
  padding: 10px;
}
.content12 h2 {
	font-size: 18px;
	font-weight: 600;
}

.content12 p {
	font-size: 14px;
	font-weight: 400;
}
.content12 a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.content12 a:hover {
	color: skyblue;
}



/* ======================================================
	Personal
====================================================== */
.personal h1 {
	width: 100%;
	float: left;
	font-size: 32px;
	font-weight: 400;
	color: black;
	margin: 80px 0px 0px 0px;
	border-bottom: 5px solid;
}

/* ======================================================
	Humming Bird
====================================================== */
.HB h2 {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 600;
	margin: 60px 0px 0px 0px;
}
.HB a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.HB a:hover {
	color: skyblue;
}

/* ======================================================
	Resume
====================================================== */
.resume h2 {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 600;
	margin: 60px 0px 80px 0px;
}
.resume a{
	font-size: 18px;
	font-weight: 600;
	color: black;
}

.resume a:hover {
	color: skyblue;
}


